<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../../public/phill.png">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="../categories" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                    <a href="#">Men</a>
                    <a href="#">Women</a>
                    </div>
                </li>
                <li><a href="../about">About Us</a></li>
                <li><a href="../upload">Create a Listing</a></li>
                <li><a href="../user">User Profile</a></li>
                <li><a href="../cart">Cart/Wishlist</a></li>
            </ul>
        </nav>
        {{{body}}}
        <footer>
            <p>&copy; 2024 $waggle. All rights reserved.</p>
        </footer>
    </main>
</body>
</html>
