<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Categories</a>
                    <div class="dropdown-content">
                    <a href="#">Men</a>
                    <a href="#">Women</a>
                    <a href="#">Kids</a>
                    <a href="#">Shirts</a>
                    <a href="#">Pants</a>
                    <a href="#">Coats</a>
                    <a href="#">Shoes</a>
                    <a href="#">Accessories</a>
                    </div>
                </li>
                <li><a href="../about">About Us</a></li>
                <li><a href="#">User Profile</a></li>
            </ul>
        </nav>
        {{{body}}}
    </main>
</body>
</html>
