
<section>
    <title>About Us</title>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <section>
            <h2>Our Mission</h2>
            <p>About 92 million tons of textiles end up in landfills annually, of which 18.5% is contributed by the United States. In order to reduce waste and give old/unwanted clothes another opportunity, $waggle is a site where users can haggle for swag. In other words, they can sell or purchase resale/thrifted clothing. By recycling clothing, our site helps reduce the ever increasing demand for the manufacturing of new clothing.</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <ul>
                <li>Isabelle Villanueva - </li>
                <li>Joelle An - </li>
                <li>Belal Eltemsah - What's up $wagglers! My name is Belal. I am a music loving, 2/4 Computer Science Major at Stevens Institute of Technology. If you want to keep up with my music you can follow my collective's Instagram page here: <a href="https://www.instagram.com/twindollsofficial">Twin Dolls</a>.</li>
                <li>Victoria Lew - </li>
                <li>Kieron Ampaw - </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 $waggle. All rights reserved.</p>
    </footer>
</section>