
<section>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <section>
            <h2>Our Mission</h2>
            <p>Our mission at $waggle is to revolutionize the way people think about clothing consumption by promoting sustainability and circular fashion. We aim to reduce the environmental impact of the fashion industry by providing a platform where users can buy and sell pre-loved, vintage, and thrifted clothing items. </p>

            <p>By encouraging the reuse and recycling of clothing, we contribute to minimizing the amount of textiles that end up in landfills each year. Through $waggle, we hope to inspire a shift in consumer behavior towards more conscious and environmentally-friendly shopping practices. </p>

            <p>Join us in our mission to make a positive impact on the planet, one stylish outfit at a time. Let's haggle for swag and make a difference together!</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <ul>
                <li class="player">
                    Isabelle Villanueva - 4'3 absolute monster
                    <img src="../public/isa.jpg" alt="Isabelle Villanueva" class="player-image">
                </li>            
                 <li>Joelle An - wsgggg</li>
                <li class="player">
                    Belal Eltemsah - What's up $wagglers! My name is Belal. I am a music loving, 2/4 Computer Science Major at Stevens Institute of Technology. If you want to keep up with my music you can follow my collective's Instagram page here: <a href="https://www.instagram.com/twindollsofficial">Twin Dolls</a>.
                    <img src="../public/belal.jpg" alt="Belal Eltemsah" class="player-image"></li>
                <li class="player">
                    Victoria - heyyy my name victoria!! i'm a 2/4 comp sci major at stevens. i love sewing, volleyball, and plants. have fun swaggling!
                    <img src="../public/victoria.gif" alt="Victoria Lew" class="player-image">
                </li>
                <li class="player">Kieron Ampaw - What's poppin Swaggasaursss!!! My name is Kieron. I'm just a chill fun gu who loves video games, soccer, and has recently gotten into skateboarding. oh, and I'm a 2/4 Computer Science Major (of course) and hope you enjoy the awesome website we've made for you!!! Peace
                <img src="../public/kieron.jpg" alt="Kieron Ampaw" class="player-image"></li>
            </ul>
        </section>
    </main>
</section>