
<section>
    <header>
        <h1>Meet the Members</h1>
    </header>
        <section>
            <h2>Our Team</h2>
            <h5> Isabelle Villanueva - 4'3 absolute monster. </h5>
            <p class="player" id="mission-text">
                <img src="../public/isa.jpg" alt="Isabelle Villanueva" class="player-image"> Hello! I'm Isabelle (my friends call me Isa). I am a current 2/4 computer science major and cybersecurity minor. In my free time, I love to listen to music, hang out with my friends, cook/bake, and go on walks :D. My favorite artists include Beabadoobee, Ryan Beatty, Clairo, Gracie Abrams, and the 1975. Favorite places that I like walking are by the Hoboken pier, Battery Park NYC, and the park next to my house. My favorite flowers are tulips and a guilty pleasure of mines is to visit other towns' libraries!!       
            </p>

            <h5> Joelle - Fashion legend. </h5>
            <p class="player" id="mission-text"> INCLUDE TEXT
                {{!-- <img src="../public/isa.jpg" alt="Isabelle Villanueva" class="player-image"> --}}
            </p>

            <h5> Belal Eltemsah - Fortnite God. </h5>
            <p class="player" id="mission-text"><img src="../public/belal.jpg" alt="Belal Eltemsah" class="player-image"> Belal Eltemsah - What's up $wagglers! My name is Belal. I am a music loving, 2/4 Computer Science Major at Stevens Institute of Technology. If you want to keep up with my music you can follow my collective's Instagram page here: <a href="https://www.instagram.com/twindollsofficial">Twin Dolls</a>.
            </p>

            <h5> Kieron Ampaw - *in British accent* Futbol Fanatic. </h5>
            <p class="player" id="mission-text"><img src="../public/kieron.jpg" alt="Kieron Ampaw" class="player-image">What's poppin Swaggasaursss!!! My name is Kieron. I'm just a chill fun gu who loves video games, soccer, and has recently gotten into skateboarding. oh, and I'm a 2/4 Computer Science Major (of course) and hope you enjoy the awesome website we've made for you!!! Peace
            </p>

            <h5> Victoria Lew - Silent demon @ Coding. </h5>
            <p class="player" id="mission-text"> Include Text
                <img src="../public/victoria.gif" alt="Victoria Lew" class="player-image"></li>
            </p>
            
        </section>
    </main>
</section>