<section>
    <head>
        <title>Cart</title>
    </head>

    <h1>Cart</h1>
    <div id="cart-items">
        <!-- Cart items will be dynamically added here -->
    </div>
    <div id="cart-total">
        Total: $<span id="total-amount">0.00</span>
    </div>
    <button id="checkout-btn">Checkout</button>

    <h1>Wishlist</h1>
    <div id="wishlist-items">
        <!-- Wishlist items will be dynamically added here -->
    </div>
    <div id="wishlist-total">
        Total: $<span id="wishlist-amount">0.00</span>
    </div>
    <button id="add-to-cart-btn">Add to Cart</button>

    <script src="cart.js"></script>
    <script src="wishlist.js"></script>
</section>