<section>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $("#searchForm").submit(function(event){
        event.preventDefault();
        var searchText = $("#searchInput").val();
        if (searchText.toLowerCase().includes("swaggle")) {
            $("#result").text("You found me!");
        } else {
            $("#result").text("");
        }
    });
});
</script>
</head>
<body>

<form id="searchForm">
    <input type="text" id="searchInput" name="searchInput" placeholder="Type here...">
    <input type="submit" value="Search">
</form>

<div id="result"></div>
</section>