<main>
        <header>
            <h1>User Error</h1>
        </header>
        <p>
            {{error}}
        </p>
        <a href="/users/login">Go Back to login page</a><br>
        <a href="/search">Search Page</a>
    </main>