<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Error</title>
</head>
<body>
    <main>
        <header>
            <h1>User Error</h1>
        </header>
        <p>
            {{error}}
        </p>
        <a href="/users/login">Go Back to login page</a><br>
        <a href="/search">Search Page</a>
    </main>
</body>
</html>
