<section class="home">
    <header>
        <h1>$waggle</h1>
    </header>
    <p class="home">Welcome to $waggle! Use the search bar below to search for clothes:</p>
    <form action="/search" method="POST">
        <label for="searchByName"></label>
        <input type="text" id="searchByName" name="searchByName">
        <input type="submit" value="Search">
    </form>
</section>