 <header>
    <h1>$waggle</h1>
  </header>

  <main>
    <p></p>

    <form action="/searchclothes" method="post">
      <label for="searchClothesByName">Search:</label>
      <input type="text" id="searchClothesByName" name="searchClothesByName">
      <input type="submit" value="Search">
    </form>
  </main>
