<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Categories</a>
            <div class="dropdown-content">
                <a href="#">Men</a>
                <a href="#">Women</a>
                <a href="#">Kids</a>
                <a href="#">Shirts</a>
                <a href="#">Pants</a>
                <a href="#">Coats</a>
                <a href="#">Shoes</a>
                <a href="#">Accessories</a>

            </div>
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">User Profile</a></li>
    </ul>
</nav>
<section class="home">
    <header>
        <h1>Swaggle</h1>
    </header>
    <p class="home">Welcome to Swaggle! Use the search bar below to search for clothes:</p>
    <form action="/search" method="POST">
        <label for="searchByName"></label>
        <input type="text" id="searchByName" name="searchByName">
        <input type="submit" value="Search">
    </form>
</section>
