
<section class="login">
    <div class="form-wrapper"></div>
    <h2 class="h2-login">Log In</h2>
    <form action="/users/login" method="POST" id="login-form">
        <div class="input-container">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
        </div>

        <ul>
            {{#each errors}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <button type="submit" class="submitButton">Submit</button>
    </form>
    <hr class="separator-line">
        <a href="/users/register">No account? Register now!</a>
    {{!-- <script src="/public/js/login.js"></script> --}}

</section>
