<main>
  <header>
    <h1>You have logged out.</h1>
  </header>
   <a href="/users/login" id="Login" class="button">Login again</a>
</main>

{{!-- 
<main class="logout">
    <div class="form-wrapper">
        <h2 class="h2-logout">Logout</h2>
    </div>
      <p><a href="/users/login">You have logged out. Click this link to log back in!</a></p>
</main> --}}