<section>
    <header>
        <h1>$waggle's Mission</h1>
    </header>
        <section>
            <h2>Our Mission</h2>
            <p class="mission-text">Welcome to Swaggle, where fashion meets sustainability! Our mission is to revolutionize the way people think about clothing consumption by promoting the joy of reselling and recycling. </p>

            <p class="mission-text"> At Swaggle, we're passionate about reducing the environmental impact of the fashion industry. By providing a platform where users can buy and sell pre-loved, vintage, and thrifted clothing items, we aim to extend the lifecycle of garments and minimize the amount of textiles that end up in landfills each year. </p>

            <p class="mission-text"> According to VOX, "In 2018, the average American bought 68 items of clothing, with the majority of it going barely worn, Rent the Runway CEO Jennifer Hyman told the New Yorker. That figure was before the rise of Shein, the Chinese mega-retailer that outputs thousands of new, cheaply made styles a day, alongside brands like Boohoo, Cider, Princess Polly, and Fashion Nova."</p>

            <p class="mission-text"> According to Earth.org, the average US consumer throws away 81.5 lbs of clothes every year while fast fashion brands are producing twice the amount of clothes today than in 2000. There is too much waste when it comes to clothings. What happened to REDUCE, REUSE, RECYCLE?? </p>

            <p class="mission-text">We believe in the power of conscious consumerism. Through Swaggle, we hope to inspire a shift in consumer behavior towards more sustainable shopping practices. Every time you shop or sell on Swaggle, you're not just getting or giving a stylish outfit – you're making a positive impact on the planet.</p>

            <p class="mission-text">Join us in our mission to make fashion more sustainable, one stylish swap at a time. Let's haggle for swag and make a difference together!</p>

            <img src="../public/clothing.jpg" alt="Clothing Waste">
        </section>
</section>