<section>
    <header>
        <h1>Listings Found</h1>
        <h2>Search results for: {{ searchTerm }}</h2>
    </header>
    {{#if clothes.length}}
    <ol class="clothes-list">
        {{#each clothes}}
        <li>
            {{ clothes}}
        </li>
        {{/each}}
    </ol>
    {{else}}
    <p>No listings found for "{{ searchTerm }}"</p>
</section>