<section class="upload-section">
    <header class="upload-header">
        <h1 class="upload-heading-1">Edit a Listing:</h1>
    </header>

    <h2>Upload Clothing Items</h2>
    <form id="updateform" action="/listings/{{ listing._id }}" method="POST">
        <label for="seller" class="upload-label">Seller:</label>
        <input type="text" name="seller" id="seller" required class="upload-input">

        <label for="photos" class="upload-label">Photos (Urls split by commas):</label>
        <input type="photos" name="photos" id="photos" required class="upload-input">

        <label for="title" class="upload-label">Title:</label>
        <input type="text" name="title" id="title" required class="upload-input">
        <label for="description" class="upload-label">Description:</label>
        <textarea name="description" id="description" required class="upload-textarea"></textarea>
        <label for="article" class="upload-label">Article:</label>
        <input type="text" name="article" id="article" required class="upload-input">
        <label for="size" class="upload-label">Size:</label>
        <input type="text" name="size" id="size" required class="upload-input">
        <label for="color" class="upload-label">Color:</label>
        <select name="color" id="color" required class="upload-select">
            <option>Select One</option>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="other">Other</option>
        </select>
        <label for="gender" class="upload-label">Gender:</label>
        <select name="gender" id="gender" required class="upload-select">
            <option>Select One</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unisex">Unisex</option>
        </select>
        <label for="price" class="upload-label">Price:</label>
        <input type="number" name="price" id="price" required class="upload-input" min="0" oninput="this.value = Math.max(this.value, 0)">
        <label for="condition" class="upload-label">Condition:</label>
        <select name="condition" id="condition" required class="upload-select">
            <option>Select One</option>
            <option value="new">New</option>
            <option value="used">Refurbished</option>
            <option value="used">Used</option>
        </select>

        <label for="tags" class="upload-label">Tags (Split by commas):</label>
        <input type="tags" name="tags" id="tags" required class="upload-input">

        <button type="submit" class="upload-submit">Upload</button>
    </form>
</section>

<script>
document.getElementById('updateform').addEventListener('submit', function(event) {
    const colorSelect = document.getElementById('color');
    const selectedColor = colorSelect.value;

    const genderSelect = document.getElementById('gender');
    const selectedGender = genderSelect.value;

    const conditionSelect = document.getElementById('condition');
    const selectedCondition = conditionSelect.value;

    const photoInput = document.getElementById('photos');
    const photoLinks = photoInput.value.split(',').map(link => link.trim());

    const tagsInput = document.getElementById('tags');
    const tags = tagsInput.value.split(',').map(tag => tag.trim());


    if (selectedColor === 'Select One' || selectedGender === 'Select One' || selectedCondition === 'Select One' || photoLinks.length === 0) {
        event.preventDefault();
        let message = 'Please select:\n';
        if (selectedColor === 'Select One') {
            message += '- Color\n';
        }
        if (selectedGender === 'Select One') {
            message += '- Gender\n';
        }
        if (selectedCondition === 'Select One') {
            message += '- Condition\n';
        }
        if (photoLinks.length === 0) {
            message += '- At least one photo link';
        }
        alert(message);
    }
});
</script>