<section>
    <header>
        <h1>Create a Listing:</h1>
    </header>

    <!-- Upload Clothing Items -->
    <h2>Upload Clothing Items</h2>
    <form action="/upload" method="POST">
        <label for="photo">Photo:</label>
        <input type="file" name="photo" id="photo" required>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>
        <label for="article">Article:</label>
        <input type="text" name="article" id="article" required>
        <label for="size">Size:</label>
        <input type="text" name="size" id="size" required>
        <label for="color">Color:</label>
        <select name="color" id="color" required>
            <option>Select One</option>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="other">Other</option>
        </select>
        <label for="gender">Gender:</label>
        <select name="gender" id="gender" required>
            <option>Select One</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unisex">Unisex</option>
        </select>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required>
        <label for="condition">Condition:</label>
        <select name="condition" id="condition" required>
            <option>Select One</option>
            <option value="new">New</option>
            <option value="used">Refurbished</option>
            <option value="used">Used</option>
        </select>
        <label for="tags">Tags:</label>
        <input type="text" name="tags" id="tags">
        <button type="submit">Upload</button>
    </form>
</section>