@font-face {
  font-family: 'Awelier';
  src: url(Awelier.otf);
}

@font-face {
  font-family: 'AwelierEB';
  src: url(AwelierEB.otf);
}

@font-face {
  font-family: 'AwelierB';
  src: url(AwelierB.otf);
}

@font-face {
  font-family: 'Sableklish';
  src: url(Sableklish.ttf);
}

/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'AwelierEB';
  font-size: 16px;
  line-height: 1.5;
  background-color: #edede9;
  color: #003049;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  padding: 0px;
  border-bottom: none; /* Add this line to remove the bottom border */
}

h1 {
  margin: 0;
  font-family: 'Sableklish';
  text-align: center;
  font-size: 70pt;
  color: #003049;
  background-color: #edf6f9;
  line-height: 1; /* Add this line to reset line height */
  margin-bottom: 20px; /* Adjust margin-bottom as needed */
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Navigation styles */
nav {
  background-color: #669bbc;
  color: #003049;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex: 1;
  font-family: 'AwelierEB';
  font-size: 20pt;
  background-color: #669bbc; /* Set the default background color */
}

nav ul li a {
  display: block;
  padding: 10px 20px; /* Add padding to create clickable area */
  text-align: center;
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  background-color: #2ec4b6; /* Change background color on hover */
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  width: 100%; /* Set width to 100% */
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

header{
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #669bbc;
  color: #003049;
  text-align: center;
  padding: 1px;
}

.filters {
  text-align: left; /* Align the content to the left */
}

